*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lavender;
    height: 100%;
}

/* wrapper */
#wrapper{
    min-height: 100%;
    position: relative;
}

/* header */
header{
    height: 100px;
    background:  rgb(56, 52, 59);
    text-align:  center;
   
}

header h1{
    padding-top: 10px;
    margin-bottom: 10px;
    color: rgb(189, 185, 185);
}

/* nav */

/* Change background color of navigation on selected page */
ul.topnav li a.selected {
    background-color: #ccc;
    color:#000;
}


/* nav ul {
    margin: auto;
}
*/
nav a{
    color: whitesmoke;
}

nav li{
    width: auto;
    margin-left: 120px; 
    float: left;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    
}

/* main */
main {
    width: 50%;
    margin-left: 5px;
    height: 100%;
    background: lavender;
    float: left;
} 

p{
    margin: 5px;
}
/* aside */
aside{
    width: 48%;
    height: auto;
    background: lightblue;
    float: right;
}

img{
    float: left;
    margin: 5px 5px;
}

#my-pic{
     margin-left: 60px;
     height: auto;
}
/*typography*/
/* font awesome icon styles */
i.logo {
    color:darkred; /* a less boring color */
    text-shadow:1px 1px #ccc; /* gives the icon a little depth */
    font-size:1.25em; /* font awesome icons are text, so make it a bit bigger */
    margin-left:1%; /* this keeps the icon from being squeeezed to the left */
}


/*footer */

footer {
    bottom: 0px;
    width: 100%;
    background: rgb(56, 52, 59);
    padding-top: 10px;
    clear: both;
    overflow: hidden;
    } 
    
    footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
     }   
    
     footer li{
    justify-content: center;
    margin: 0 15px;
    color: whitesmoke;
     }

     footer a{
        color: whitesmoke;
     }
