*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lavender;
}
/* header */
header{
    height: 100px;
    background:  rgb(56, 52, 59);
    text-align:  center;
}

header h1{
    padding-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;

}
/* nav */

/* nav ul {
    margin: auto;
}
*/
nav a{
    color: whitesmoke;
}

nav li{
    width: auto;
    margin-left: 120px; 
    float: left;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
    
}

/* main */
main {
    width: 50%;
    margin-left: 5px;
    /* height: auto; */
    background: lavender;
    float: left;
}

p{
    margin: 5px;
}
/* aside */
aside{
    width: 48%;
    /* height: 500px; */
    background: lavender;
    float: right;
}

img{
    float: left;
    margin: 5px 5px;
}

.my-pic{
     margin-left: 60px;
}


/*footer */

footer {
    height: 60px;
    background: rgb(56, 52, 59);
    padding-top: 10px;
    clear: both;
    overflow: hidden;
    } 
    
    footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
     }   
    
     footer li{
    justify-content: center;
    margin: 0 15px;
    color: whitesmoke;
     }

     footer a{
        color: whitesmoke;
     }
