*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*max-width: 1000px;*/
}


.body{
   background-image: url("img/danny5.jpg");
   background-repeat: no-repeat;
}

#wrapper{
    background-color: aqua;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

#header{
    font-size: 2em;
}


.footer{
  background-color: blanchedalmond;
  }

 
 